QtPy==2.4.1
PyQt5~=5.15.10
PyYAML==6.0.1
Pillow>=10.2.0
appdirs==1.4.4
certifi==2023.7.22
tqdm>=4.65.0
-r ./gclib/requirements_full.txt
PyInstaller~=6.8.0
pytest~=7.4.0
pytest-cov~=4.1.0
pytest-qt~=4.2.0
pytest-dotenv~=0.5.2
