PySide6==6.2.2.1
PyYAML==5.4
Pillow==9.0.1
appdirs==1.4.4
certifi==2020.12.5
PyInstaller==4.8
tinyaes==1.0.1
git+https://github.com/LagoLunatic/PyFastBTI.git@da01c14562a4711e031fd0a01c52d2131035e228#egg=PyFastBTI
git+https://github.com/LagoLunatic/PyFastTextureUtils.git@4e6b9db2f7703f016225971f7842f7fd29a1a8a5#egg=PyFastTextureUtils
git+https://github.com/LagoLunatic/PyFastYaz0.git@1d575c0c7a57ba931e53cb59571e786d6b1fd3e8#egg=PyFastYaz0
